body {
    background-color:black;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
}

header{
    position: fixed; /* 固定位置 */
    top: 0; /* 固定在視窗頂部 */
    left: 0; /* 固定在視窗左側 */
    width: 100%; /* 填滿視窗寬度 */
    background-color: rgb(182, 182, 182);
    padding: 5px 0;
    text-align: center;
}

.image-container1{
    display: flex;
    align-items: center; 
    margin-top: 100px;
}
.image-container1 img, .image-container2 img{
    width: 65px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
}
.image-container2{
    display: flex;
    align-items: center;
    margin-top: 30px; 
}
#eth-price, #ada-price, #btc-price {
    display: inline; /* 讓 div 與 h2 顯示在同一行 */
}



/* 媒體查詢 - 當視窗寬度小於等於 390px 時 */
@media (max-width: 390px) {
    header {
        padding: 10px 0; /* 增加頭部間距 */
    }
    
    .image-container1{
        display: flex;
        align-items: center; 
        margin-top: 100px;
    }

    .image-container1 img, .image-container2 img {
        width: 80%; /* 圖片縮小 */
        margin-bottom: 10px; /* 圖片和文字間隔 */
    }
    .image-container2{
        display: flex;
        align-items: center;
        margin-top: 30px; 
    }
    h2 {
        font-size: 36px; /* 調整文字大小 */
    }

    #btc-price, #eth-price, #ada-price {
        font-size: 36px; /* 調整價格顯示大小 */
    }
}